<a href="<%= user_path(current_user) %>">
<% if current_user.image_url %>
          <%= image_tag current_user.image_url.to_s, size: "66x66", class: "gravatar"%>
      <% else %>
        <%= gravatar_for current_user, "52x52" %>
      <% end %></a>
<h1>
  <%= current_user.name %> 
</h1>
<%= render 'shared/trophy' if global_position(top_score(current_user))< 4 %>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  Posts: <%= current_user.microposts.count %>
</span>